div{
    width: 100%;
    text-align: center;
}

table{
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.mat-row:hover .mat-cell {
    border: currentColor;
    font-weight: bold;
}
.action-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
div{margin:5px;}